.gradient-text {
    background-image: linear-gradient(45deg, #4ca7f1, #01617e);
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sub-title {
    font-size: 3em;
}

.main-title {
    font-size: 5em;
}

.gradient-paragraph {
    background-image: linear-gradient(240deg, #1f95f7,
            #01617e);
    -webkit-background-clip: text;
    color: transparent;



}


.gradient-orange-subtitle{
    font-size: 3em;
    font-weight: bold;
    background: linear-gradient(135deg, #ff7300, #ffcc00);
    -webkit-background-clip: text;
    color: transparent;


}

.custom-card-2 {
    background: linear-gradient(135deg, #e0e0e0, #f5f5f5);
    /* Gray gradient background */

    border-radius: 15px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

}



.custom-card-2 .card-title {
    font-size: 1.1em;
    /* Slightly larger font size */
    background-image: linear-gradient(240deg, #1f95f7, #01617e);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    /* Darker text color */
}


.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.062);
    /* Adjust the overlay color and opacity */
    z-index: 1;
}

